:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#main{
  height:auto;
  background-color: #00000073;
}
.group h2{
  font-size: 0.6em;
  font-weight: 200;
}
#taskdiv{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(auto,1fr));
  grid-template-rows: auto auto;
  grid-gap: 41px;
}
#root{
 
  padding: 0;
}
body {
 background:url(kurt-wang-J9Z67z9C3PQ-unsplash.jpg);
  background-size:cover;
  margin: 0;
}
.group{
  background-color: #00000071;
}
.group h1{
  padding:0;
  font-size: 0.8em;
  line-height: 0;
  color: #000;
  text-shadow: 0 0 1px #fff,0 0 2px #fff;
}
#heading{
  line-height: 1.1;
  margin:0;
  padding-top: 20px;
  padding-bottom: 30px;
  text-shadow: 0 0 3px #fff,0 0 5px #0000ff;
}
.div-i span{
  font-size: 26px;
  margin-left: 20px;
  cursor: pointer;
  text-shadow: 0 0 1px #fff,0 0 5px #0000ff;
}
.div-i span:hover{
  text-shadow: 0 0 4px #fff,0 0 5px #0000ff;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em 0.6em;
  font-size: 1em;
  font-family: inherit;
  background-color:#2f4c66;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 10px;
  background-image: linear-gradient(#000000,#503a09);
}
button:hover {
  border-color: #fff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
li{
  list-style: none;
  margin-top: 20px;
  border-radius: 0.6rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border:solid 1px #213547;
  justify-content: space-evenly;
}
.div-i{
  margin-top: 4px;
  margin-bottom: 5px;
}
.outerbtn{
  margin-top: 20px;
  margin-bottom:22px;
}
input{
  padding: 1px 10px;
  font-size: 1.5rem;
  border-radius: 8px;
}
span{
  border-radius: 9px;
  font-size: 1.5rem;
  color:#fff;
  font-weight: 600;

}
ul{
  padding-left: 0;
}
/* #delbtn{
  margin-left: 7rem;
} */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (min-width:861px){
  #taskdiv{
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
  }
  input{
    margin-bottom: 40px;
  }
}
