body{
  height: 100%;
   background: linear-gradient(to bottom,#0b0b0b,#041523,#142330);
 font-family: "Montserrat", sans-serif;
}
#taskdiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#root{
  padding: 0;
}
.searchdiv{
  text-align: center;
}
.group{
  /* text-align: center; */
  width: 30%;
  min-height: 10rem;
  background-color:#0623396e;
  border: 1px solid #3b5f7e;
  /* background: linear-gradient(to bottom,#213547,#000); */
  margin: 20px;
  padding: 20px;
  transition: all 0.1s;
}
.group:hover{
  border: 1px solid #fff;
}
#heading{
  line-height: 1.1;
  margin:0;
  padding-top: 20px;
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 3.1rem;
  text-shadow: 0 0 3px #fff,0 0 5px #0040ff;
}
.div-i {
  /* font-size: 26px; */
  /* font-size: 2rem; */
  margin-left: 20px;
  display: flex;
  align-items: center;
  min-width:80%;
  /* text-shadow: 0 0 1px #fff,0 0 5px #0000ff; */
}
span{
  border-radius: 9px;
  font-size: 1.3rem;
  color:aliceblue;
  /* font-weight: 600; */
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5rem 1.1rem;
  font-size: 1em;
  font-family: inherit;
background-color: aliceblue;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 10px;

}
button:hover {
  background-color:#f0f8ffc7;;
  border-color: #fff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
li{
  list-style: none;
  margin-top: 20px;
  border-radius: 0.4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border:solid 1px #fff;
  justify-content: space-around ;
  background-color: #315270;
}
.icon{
  scale: 1.1;
}
.icon:hover{
  transition: all 0.2s;
  scale: 1.2;
}
.div-i{
  margin-top: 4px;
  margin-bottom: 5px;
}
.div-i span{
  margin-left: 2rem;
}
.outerbtn{
  margin-top: 20px;
  margin-bottom:22px;
}
input{
  padding: 2px 10px;
  font-size: 1.4rem;
  border-radius: 5px;

}


.group h1 {
  color:#ebebeb;
  font-size: 0.8em;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #53545664;
  font-weight: 300;
  /* background-color:#041523; */
}
ul{
  padding-left: 0;
}
/* #delbtn{
  margin-left: 7rem;
} */
@media (min-width:861px){
  #taskdiv{
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
  }
  input{
    margin-bottom: 40px;
    margin-right: 20px;
  }
}
@media(max-width:700px){
  .group{
    width: 100%;
  }
}
